<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence" version="2.0">
    <persistence-unit name="EasyFood" transaction-type="RESOURCE_LOCAL">

        <class>com.company.easyfood.entity.Shop</class>
        <class>com.company.easyfood.entity.Cookbook</class>
        <class>com.company.easyfood.entity.Order</class>
        <class>com.company.easyfood.entity.OrderDetail</class>
    </persistence-unit>
</persistence>
